@{
    ViewData["Title"] = "Home Page";
}



 <a href='@Url.Action("register","Home")'>register</a>
  <a href='@Url.Action("login","Home")'>login</a>

  @{
        if(ViewBag.estaLogeado==true){
            <p>Hola, @ViewBag.usuario.Nombre</p>
    }
  }

  <img src="@ViewBag.fotoPerfil">
  <img src="/fotosPerfil/hq720.jpg">